<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DangKiTiemChung"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

<!--        <activity-->
<!--            android:name=".LayDiaChi"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".testhieuung"
            android:exported="false" />
        <activity
            android:name=".CaNhan"
            android:exported="false" />
         <activity
         android:name=".DatLichTiemChung"
         android:exported="true"
         android:label="Đặt lịch tiêm chủng"
         android:parentActivityName=".MenuMainActivity"/>
        <activity
            android:name=".ChiTietDaHuy"
            android:exported="false"
            android:label="Chi tiết lịch hủy"
            android:parentActivityName=".Mai_LichTiemChung" />
        <activity
            android:name=".ChiTietMuiTiepTheo"
            android:exported="false"
            android:label="Chi tiết mũi tiếp theo"
            android:parentActivityName=".Mai_LichSuTiemChung" />
        <activity
            android:name=".ChiTietLichSuTiemChung"
            android:exported="false"
            android:label="Chi tiết lịch sử tiêm"
            android:parentActivityName=".Mai_LichSuTiemChung" />
        <activity
            android:name=".ChiTietLichHen"
            android:exported="false"
            android:label="Chi tiết lịch hẹn"
            android:parentActivityName=".Mai_LichTiemChung" />
        <activity
            android:name=".EnterOTPActivity"
            android:exported="false" />
        <activity
            android:name=".Enter_Password"
            android:exported="false" />
        <activity
            android:name=".PolicyAndPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".MenuMainActivity"
            android:exported="false" />
        <activity
            android:name=".SetPasswordActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".VerifyPhoneNumberActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Mai_LichSuTiemChung"
            android:exported="false"
            android:label="Lịch sử tiêm chủng"
            android:parentActivityName=".MenuMainActivity" />
        <activity
            android:name=".Mai_LichTiemChung"
            android:exported="false"
            android:label="Lịch hẹn tiêm chủng"
            android:parentActivityName=".MenuMainActivity" />
        <activity
            android:name=".RegisterPersonalProfileActivity"
            android:exported="false" />
        <activity android:name=".Linh_ThongTinVX_"
            android:exported="false"/>
        <activity
            android:name=".LayDiaChi"
            android:exported="true"
            android:label="Trung tâm tiêm chủng"
            android:parentActivityName=".MenuMainActivity">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
                <!--                    android:name=".Linh_Activity_DanhMucVacXin">-->
        </activity>
        <activity android:exported="true"
            android:name=".VerifyPhoneNumberActivity">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>