<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DangKiTiemChung"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ChiTietDaHuy"
            android:exported="false"
            android:label="Lịch đã hủy"
            android:parentActivityName=".Mai_LichTiemChung"/>
        <activity
            android:name=".ChiTietMuiTiepTheo"
            android:exported="false"
            android:label="Mũi tiêm tiếp theo"
            android:parentActivityName=".Mai_LichTiemChung"/>
        <activity
            android:name=".ChiTietLichSuTiemChung"
            android:label="Lịch sử tiêm chủng"
            android:parentActivityName=".Mai_LichTiemChung"
            android:exported="false" />
        <activity
            android:name=".ChiTietLichHen"
            android:label="Lịch hẹn tiêm chủng"
            android:parentActivityName=".Mai_LichTiemChung"
            android:exported="false" />
        <activity
            android:name=".EnterOTPActivity"
            android:exported="false" />
        <activity
            android:name=".Enter_Password"
            android:exported="false" />
        <activity
            android:name=".PolicyAndPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".MenuMainActivity"
            android:exported="false" />
        <activity
            android:name=".SetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyPhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPersonalProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Mai_LichTiemChung"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>